<h1>Tasks</h1>

<% @tasks.each do |task| %>
    <p>
        <b><%= task.title %></b>
        <br/>
        Status: <%= task.isDone ? 'Done' : 'Not Done' %>
        <br/>

        <% if !task.isDone %>
            <% if task.deadline <= Date.today %>
                <%= "Overdue by #{(Date.today - task.deadline).to_i} days" %>
            <% else %>
                <%= "Due in #{(task.deadline - Date.today).to_i} days" %>
            <% end %>
            <br/>
        <% end %>
        
        <%= link_to 'View Details', task %>

        <% if !task.isDone %>
            <%= form_with(model: task, url: task_path(task), method: :patch) do |form| %>
                <%= form.hidden_field :isDone, value: true %>
                <%= form.submit 'Mark as Done' %>
            <% end %>
        <% end %>
    </p>
<% end %>

<h3>
    <%= link_to 'New Task', new_task_path %>
</h3>
