<h1><%= @task.title %></h1>

<p>Status: <%= @task.isDone ? 'Done' : 'Not Done' %></p>
<p>Due: <%= @task.deadline %></p>

<%= link_to 'Back', tasks_path %>
<%= link_to 'Edit', edit_task_path %>
<%= link_to 'Delete', task_path(@task), 
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } 
%>